body {
    background-color: rgb(65, 62, 62);
    color: white;
    font: 13pt Arial;
}

h1 {
    text-align: center;
}

a:link, a:visited, a:active {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p.meio {
    text-align: center;
}

iframe {
    display: block;
    margin: auto;
}