@charset "UTF-8";

/*Configurações Gerais*/

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: black;
    text-shadow: 2px 2px 0px #1526a7;
    padding: 10px;
}