@charset "UTF-8";
    

    /*Declações grais*/
    
    * {
        margin: 0px;
        padding: 0px;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: cover;
        background-repeat: no-repeat;
    }

    h1 {
        color: rgb(42, 41, 41);
        text-shadow: 2px 2px 0px #363e7c;
        padding: 10px;
    }
    /*Declações grais*/

    @media screen and (orientation:portrait){
        body {
            background-image: url(../Imagens/pexels-retrato.jpg);
            background-position: center bottom;
        }
    }

    /*Declações grais*/ 

    @media screen and (orientation:landscape){
        body {
            background-image: url(../Imagens/pexels-paisagem.jpg);
            background-position: left bottom;
        }
    }